{
    "openapi": "3.0.0",
    "info": {
        "title": "Teams",
        "version": "1.0.0",
        "description": "API endpoints for managing teams in the 16TMS platform"
    },
    "servers": [
        {
            "url": "https://api.16tms.com/api/v1",
            "description": "Production server"
        }
    ],
    "security": [
        {
            "ApiKeyAuth": []
        }
    ],
    "paths": {
        "/teams": {
            "post": {
                "summary": "Create a new team",
                "description": "Creates a new team in the 16TMS platform with the provided details. Note: The user (externalId) must have a `userGameId` mapped for the specific `gameId` before creating a team. Refer to the [Create User Game ID Mapping](/api-reference/create-user-game-id-mapping) endpoint for details.",
                "operationId": "createTeam",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "externalId",
                        "in": "query",
                        "description": "External identifier for the team from your system",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "team_123"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateTeamRequest"
                            },
                            "example": {
                                "name": "Team Alpha",
                                "logo": "https://example.com/logo.png",
                                "coverImage": "https://example.com/cover.jpg",
                                "description": "Professional esports team",
                                "gameId": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Team created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateTeamResponse"
                                },
                                "example": {
                                    "success": true,
                                    "message": "Team created successfully",
                                    "data": {
                                        "teamId": "72241a59-3638-4c7c-8105-81774de2c900",
                                        "externalId": "team_123",
                                        "name": "Team Alpha",
                                        "logo": "https://example.com/logo.png",
                                        "coverImage": "https://example.com/cover.jpg",
                                        "description": "Professional esports team",
                                        "gameId": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                                    },
                                    "meta": {
                                        "traceId": "00-0b9a33deb55060719389707d91fe66e4-39ac3a60dea035aa-00",
                                        "elapsedMs": 12.5,
                                        "serverTimestamp": "2026-02-09T11:39:15.9323654Z"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - Invalid input data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Invalid or missing API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict - Business rule violation (e.g., game account not linked)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BusinessRuleErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "error": {
                                        "code": "BUSINESS_RULE_VIOLATION",
                                        "message": "Link your game account to create team"
                                    },
                                    "meta": {
                                        "traceId": "00-861ab230a64e2191f50b84e76e901a09-c031a9c74a1a91ad-00"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/teams/me": {
            "get": {
                "summary": "Get my teams",
                "description": "Retrieves all teams that the user is a member of. Optionally filter by game ID.",
                "operationId": "getMyTeams",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "externalId",
                        "in": "query",
                        "description": "External user ID to retrieve teams for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "user_123"
                    },
                    {
                        "name": "gameId",
                        "in": "query",
                        "description": "Optional game filter. Returns teams for all games if omitted.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "example": "3b1dd428-f288-4654-beff-ae523005f47a"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Teams fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetMyTeamsResponse"
                                },
                                "example": {
                                    "success": true,
                                    "message": "Teams fetched successfully",
                                    "data": [
                                        {
                                            "teamId": "f0ae597c-a8e9-455c-96ea-d54cf9e98c23",
                                            "name": "dhruvvv",
                                            "role": 1,
                                            "isOwner": true,
                                            "logo": "test",
                                            "gameId": "3b1dd428-f288-4654-beff-ae523005f47a",
                                            "gameName": "BGMI",
                                            "gameImage": "https://metaninzamedia.blob.core.windows.net/media/games/20260209131841_8be0463e43471d299608f26d92555064.webp",
                                            "joinedAt": "2026-02-09T13:22:47.392121Z",
                                            "members": [
                                                {
                                                    "userId": "302cb943-26a3-40e1-92f4-216ac2b264d7",
                                                    "email": "",
                                                    "username": "dhruvpatel",
                                                    "role": 1,
                                                    "joinedAt": "2026-02-09T13:22:47.392121Z",
                                                    "profileImage": null,
                                                    "gameId": "3b1dd428-f288-4654-beff-ae523005f47a",
                                                    "userGameId": "bossxdhruv"
                                                }
                                            ]
                                        }
                                    ],
                                    "meta": {
                                        "traceId": "00-30eb584edc33d3b3c6abc2f2a48d531b-c7db91fb01d98955-00",
                                        "elapsedMs": 42.28,
                                        "serverTimestamp": "2026-02-09T13:25:26.0306215Z"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Invalid or missing API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "User not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/teams/{teamId}": {
            "get": {
                "summary": "Get team by ID",
                "description": "Retrieves detailed information about a specific team by its unique identifier.",
                "operationId": "getTeamById",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "teamId",
                        "in": "path",
                        "description": "The unique identifier of the team",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "example": "f0ae597c-a8e9-455c-96ea-d54cf9e98c23"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Team retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetTeamByIdResponse"
                                },
                                "example": {
                                    "success": true,
                                    "message": "Team retrieved successfully",
                                    "data": {
                                        "teamId": "f0ae597c-a8e9-455c-96ea-d54cf9e98c23",
                                        "name": "dhruvvv",
                                        "role": 1,
                                        "isOwner": true,
                                        "logo": "test",
                                        "gameId": "3b1dd428-f288-4654-beff-ae523005f47a",
                                        "gameName": "BGMI",
                                        "gameImage": "https://metaninzamedia.blob.core.windows.net/media/games/20260209131841_8be0463e43471d299608f26d92555064.webp",
                                        "joinedAt": "2026-02-09T13:22:47.392121Z",
                                        "members": [
                                            {
                                                "userId": "302cb943-26a3-40e1-92f4-216ac2b264d7",
                                                "email": "",
                                                "username": "dhruvpatel",
                                                "role": 1,
                                                "joinedAt": "2026-02-09T13:22:47.392121Z",
                                                "profileImage": null,
                                                "gameId": "3b1dd428-f288-4654-beff-ae523005f47a",
                                                "userGameId": "bossxdhruv"
                                            }
                                        ]
                                    },
                                    "meta": {
                                        "traceId": "00-30eb584edc33d3b3c6abc2f2a48d531b-c7db91fb01d98955-00",
                                        "elapsedMs": 15.5,
                                        "serverTimestamp": "2026-02-09T13:25:26.0306215Z"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Invalid or missing API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Team not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Update team",
                "description": "Updates an existing team's information.",
                "operationId": "updateTeam",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "teamId",
                        "in": "path",
                        "description": "The unique identifier of the team",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "example": "e86e814e-ca93-412e-b347-fb71837c6466"
                    },
                    {
                        "name": "externalId",
                        "in": "query",
                        "description": "External user ID for API key context",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateTeamRequest"
                            },
                            "example": {
                                "name": "boss official",
                                "logo": "string",
                                "coverImage": "string",
                                "description": "string",
                                "gameId": "8a7b084c-d30a-40e7-85e0-865164a9076b"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Team updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UpdateTeamResponse"
                                },
                                "example": {
                                    "success": true,
                                    "message": "Team updated successfully",
                                    "data": {
                                        "teamId": "e86e814e-ca93-412e-b347-fb71837c6466",
                                        "name": "boss official",
                                        "description": "string",
                                        "teamSize": 16,
                                        "ownerId": "cbf66c47-a05a-457c-9d3f-322ddd04d79a",
                                        "ownerName": "Dhruv",
                                        "logo": "string",
                                        "coverImage": "string",
                                        "gameId": "8a7b084c-d30a-40e7-85e0-865164a9076b",
                                        "gameName": "Counter Stirke",
                                        "gameImage": "https://metaninzamedia.blob.core.windows.net/media/games/20260211055726_cs2.webp",
                                        "members": [
                                            {
                                                "userId": "cbf66c47-a05a-457c-9d3f-322ddd04d79a",
                                                "email": "",
                                                "username": "dfs",
                                                "role": 1,
                                                "joinedAt": "2026-02-11T05:59:42.710198Z",
                                                "profileImage": "strsdfsding",
                                                "gameId": "8a7b084c-d30a-40e7-85e0-865164a9076b",
                                                "userGameId": "Bossxdhruv"
                                            }
                                        ]
                                    },
                                    "meta": {
                                        "traceId": "00-fb61aeecb9154e9e1f1ff1cf32324afc-135e8e98ffea0f69-00",
                                        "elapsedMs": 19.47,
                                        "serverTimestamp": "2026-02-11T06:00:13.9368803Z"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Team not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete team",
                "description": "Deletes an existing team. This action cannot be undone.",
                "operationId": "deleteTeam",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "teamId",
                        "in": "path",
                        "description": "The unique identifier of the team",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "example": "e86e814e-ca93-412e-b347-fb71837c6466"
                    },
                    {
                        "name": "externalId",
                        "in": "query",
                        "description": "External user ID for API key context (must be team owner)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Team deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeleteTeamResponse"
                                },
                                "example": {
                                    "success": true,
                                    "message": "Team deleted successfully",
                                    "meta": {
                                        "traceId": "00-fb61aeecb9154e9e1f1ff1cf32324afc-135e8e98ffea0f69-00",
                                        "elapsedMs": 19.47,
                                        "serverTimestamp": "2026-02-11T06:00:13.9368803Z"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - Only team owner can delete team",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Team not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/teams/{teamId}/members": {
            "delete": {
                "summary": "Remove member from team",
                "description": "Removes a member from the team. Requires team owner privileges.",
                "operationId": "removeTeamMember",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "teamId",
                        "in": "path",
                        "description": "The unique identifier of the team",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "example": "e86e814e-ca93-412e-b347-fb71837c6466"
                    },
                    {
                        "name": "externalId",
                        "in": "query",
                        "description": "External user ID of the team owner",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "memberExternalId",
                        "in": "query",
                        "description": "External user ID of the member to maybe removed",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Member removed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RemoveTeamMemberResponse"
                                },
                                "example": {
                                    "success": true,
                                    "message": "Team member removed successfully",
                                    "meta": {
                                        "traceId": "00-fb61aeecb9154e9e1f1ff1cf32324afc-135e8e98ffea0f69-00",
                                        "elapsedMs": 15.2,
                                        "serverTimestamp": "2026-02-11T06:05:13.9368803Z"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - Only team owner can remove members",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Team or member not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/teams/{teamId}/invite": {
            "get": {
                "summary": "Get team invite link",
                "description": "Generates an invite link for the team. Requires team owner privileges.",
                "operationId": "getTeamInviteLink",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "teamId",
                        "in": "path",
                        "description": "The unique identifier of the team",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "example": "e86e814e-ca93-412e-b347-fb71837c6466"
                    },
                    {
                        "name": "externalId",
                        "in": "query",
                        "description": "External user ID of the team owner",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Invite link generated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetTeamInviteLinkResponse"
                                },
                                "example": {
                                    "success": true,
                                    "message": "Invite link generated successfully",
                                    "data": {
                                        "token": "tkMbY9BB9P"
                                    },
                                    "meta": {
                                        "traceId": "00-f9a79e9bba66b2fe54ffde572478f919-f31eff2e67321aab-00",
                                        "elapsedMs": 52.63,
                                        "serverTimestamp": "2026-02-11T06:03:48.3110822Z"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - Only team owner can generate invite link",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Team not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/teams/invites/{token}": {
            "get": {
                "summary": "Get team invite preview",
                "description": "Retrieves public information about a team using an invite token.",
                "operationId": "getTeamInvitePreview",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "token",
                        "in": "path",
                        "description": "The invite token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "externalId",
                        "in": "query",
                        "description": "Optional external user ID to check if user can join (checks if already member)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Team preview fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetTeamInvitePreviewResponse"
                                },
                                "example": {
                                    "success": true,
                                    "message": "Team preview fetched successfully",
                                    "data": {
                                        "teamId": "e86e814e-ca93-412e-b347-fb71837c6466",
                                        "name": "boss official",
                                        "description": "string",
                                        "logo": "string",
                                        "coverImage": "string",
                                        "teamSize": 16,
                                        "currentMembers": 1,
                                        "ownerName": "Dhruv",
                                        "gameId": "8a7b084c-d30a-40e7-85e0-865164a9076b",
                                        "gameName": "Counter Stirke",
                                        "canJoin": false,
                                        "joinError": "You are the team owner. You are already a member of this team."
                                    },
                                    "meta": {
                                        "traceId": "00-284038cb0fcea24e1b38d617a989c586-f8a343ad22441e41-00",
                                        "elapsedMs": 35.21,
                                        "serverTimestamp": "2026-02-11T06:05:14.3237042Z"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Team or invite not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/teams/invites/{token}/join": {
            "post": {
                "summary": "Join team via invite",
                "description": "Joins a team using an invite token. Note: The user (externalId) must have a `userGameId` mapped for the team's `gameId` before joining. Refer to the [Create User Game ID Mapping](/api-reference/create-user-game-id-mapping) endpoint for details.",
                "operationId": "joinTeamWithInvite",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "token",
                        "in": "path",
                        "description": "The invite token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "externalId",
                        "in": "query",
                        "description": "External user ID of the user joining the team",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully joined the team",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JoinTeamResponse"
                                },
                                "example": {
                                    "success": true,
                                    "message": "Successfully joined the team",
                                    "data": {
                                        "teamId": "e86e814e-ca93-412e-b347-fb71837c6466",
                                        "name": "boss official",
                                        "description": "string",
                                        "teamSize": 16,
                                        "ownerId": "cbf66c47-a05a-457c-9d3f-322ddd04d79a",
                                        "ownerName": "Dhruv",
                                        "logo": "string",
                                        "coverImage": "string",
                                        "gameId": "8a7b084c-d30a-40e7-85e0-865164a9076b",
                                        "gameName": "Counter Stirke",
                                        "gameImage": "https://metaninzamedia.blob.core.windows.net/media/games/20260211055726_cs2.webp",
                                        "members": [
                                            {
                                                "userId": "cbf66c47-a05a-457c-9d3f-322ddd04d79a",
                                                "email": "",
                                                "username": "dfs",
                                                "role": 1,
                                                "joinedAt": "2026-02-11T05:59:42.710198Z",
                                                "profileImage": "strsdfsding",
                                                "gameId": "8a7b084c-d30a-40e7-85e0-865164a9076b",
                                                "userGameId": "Bossxdhruv"
                                            },
                                            {
                                                "userId": "165a759d-d243-4549-830d-bca932046245",
                                                "email": "",
                                                "username": "lol",
                                                "role": 3,
                                                "joinedAt": "2026-02-11T06:14:26.975106Z",
                                                "profileImage": null,
                                                "gameId": "8a7b084c-d30a-40e7-85e0-865164a9076b",
                                                "userGameId": "est"
                                            }
                                        ]
                                    },
                                    "meta": {
                                        "traceId": "00-d37a7cd8e29472edf762e86465e468e8-fb9607ab34703613-00",
                                        "elapsedMs": 54.6,
                                        "serverTimestamp": "2026-02-11T06:14:27.0253634Z"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Team or invite not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict - Already a member or game account not linked",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BusinessRuleErrorResponse"
                                },
                                "examples": {
                                    "alreadyMember": {
                                        "summary": "Already a member",
                                        "value": {
                                            "success": false,
                                            "error": {
                                                "code": "BUSINESS_RULE_VIOLATION",
                                                "message": "You are already a member of this team."
                                            },
                                            "meta": {
                                                "traceId": "00-4cfc730c433e903baa76e4b24222c001-17cd11d4a1c2425d-00"
                                            }
                                        }
                                    },
                                    "gameAccountNotLinked": {
                                        "summary": "Game account not linked",
                                        "value": {
                                            "success": false,
                                            "error": {
                                                "code": "BUSINESS_RULE_VIOLATION",
                                                "message": "Link your game account to join team"
                                            },
                                            "meta": {
                                                "traceId": "00-ac42ce53b9e64e82a5d5a4af5e1e92b5-67b16e9b5cdd25b0-00"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "ApiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "X-API-KEY",
                "description": "API key for authentication. You can generate this from the 16TMS console."
            }
        },
        "schemas": {
            "CreateTeamRequest": {
                "type": "object",
                "required": [
                    "name",
                    "gameId"
                ],
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "Name of the team",
                        "example": "Team Alpha"
                    },
                    "logo": {
                        "type": "string",
                        "format": "uri",
                        "description": "URL to the team's logo image",
                        "example": "https://example.com/logo.png"
                    },
                    "coverImage": {
                        "type": "string",
                        "format": "uri",
                        "description": "URL to the team's cover image",
                        "example": "https://example.com/cover.jpg"
                    },
                    "description": {
                        "type": "string",
                        "description": "Description of the team",
                        "example": "Professional esports team"
                    },
                    "gameId": {
                        "type": "string",
                        "format": "uuid",
                        "description": "ID of the game this team is associated with",
                        "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                    }
                }
            },
            "Team": {
                "type": "object",
                "properties": {
                    "teamId": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Unique identifier for the team in 16TMS",
                        "example": "72241a59-3638-4c7c-8105-81774de2c900"
                    },
                    "externalId": {
                        "type": "string",
                        "description": "External identifier for the team",
                        "example": "team_123"
                    },
                    "name": {
                        "type": "string",
                        "description": "Name of the team",
                        "example": "Team Alpha"
                    },
                    "logo": {
                        "type": "string",
                        "format": "uri",
                        "description": "URL to the team's logo image",
                        "example": "https://example.com/logo.png"
                    },
                    "coverImage": {
                        "type": "string",
                        "format": "uri",
                        "description": "URL to the team's cover image",
                        "example": "https://example.com/cover.jpg"
                    },
                    "description": {
                        "type": "string",
                        "description": "Description of the team",
                        "example": "Professional esports team"
                    },
                    "gameId": {
                        "type": "string",
                        "format": "uuid",
                        "description": "ID of the game this team is associated with",
                        "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                    }
                }
            },
            "CreateTeamResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean",
                        "description": "Indicates if the request was successful",
                        "example": true
                    },
                    "message": {
                        "type": "string",
                        "description": "A message describing the result of the operation",
                        "example": "Team created successfully"
                    },
                    "data": {
                        "$ref": "#/components/schemas/Team"
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "traceId": {
                                "type": "string",
                                "description": "Unique trace identifier for debugging purposes",
                                "example": "00-0b9a33deb55060719389707d91fe66e4-39ac3a60dea035aa-00"
                            },
                            "elapsedMs": {
                                "type": "number",
                                "description": "Time taken to process the request in milliseconds",
                                "example": 12.5
                            },
                            "serverTimestamp": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Server timestamp when the response was generated",
                                "example": "2026-02-09T11:39:15.9323654Z"
                            }
                        }
                    }
                }
            },
            "TeamMember": {
                "type": "object",
                "properties": {
                    "userId": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Unique identifier for the user",
                        "example": "302cb943-26a3-40e1-92f4-216ac2b264d7"
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Email address of the team member",
                        "example": ""
                    },
                    "username": {
                        "type": "string",
                        "description": "Username of the team member",
                        "example": "dhruvpatel"
                    },
                    "role": {
                        "$ref": "#/components/schemas/TeamRole"
                    },
                    "joinedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the member joined the team",
                        "example": "2026-02-09T13:22:47.392121Z"
                    },
                    "profileImage": {
                        "type": "string",
                        "format": "uri",
                        "description": "URL to the member's profile image",
                        "example": null,
                        "nullable": true
                    },
                    "gameId": {
                        "type": "string",
                        "format": "uuid",
                        "description": "ID of the game",
                        "example": "3b1dd428-f288-4654-beff-ae523005f47a"
                    },
                    "userGameId": {
                        "type": "string",
                        "description": "User's in-game ID",
                        "example": "bossxdhruv"
                    }
                }
            },
            "TeamWithMembers": {
                "type": "object",
                "properties": {
                    "teamId": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Unique identifier for the team",
                        "example": "f0ae597c-a8e9-455c-96ea-d54cf9e98c23"
                    },
                    "name": {
                        "type": "string",
                        "description": "Name of the team",
                        "example": "dhruvvv"
                    },
                    "role": {
                        "$ref": "#/components/schemas/TeamRole"
                    },
                    "isOwner": {
                        "type": "boolean",
                        "description": "Indicates if the user is the owner of the team",
                        "example": true
                    },
                    "logo": {
                        "type": "string",
                        "description": "URL to the team's logo",
                        "example": "test"
                    },
                    "gameId": {
                        "type": "string",
                        "format": "uuid",
                        "description": "ID of the game this team is associated with",
                        "example": "3b1dd428-f288-4654-beff-ae523005f47a"
                    },
                    "gameName": {
                        "type": "string",
                        "description": "Name of the game",
                        "example": "BGMI"
                    },
                    "gameImage": {
                        "type": "string",
                        "format": "uri",
                        "description": "URL to the game's image",
                        "example": "https://metaninzamedia.blob.core.windows.net/media/games/20260209131841_8be0463e43471d299608f26d92555064.webp"
                    },
                    "joinedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the user joined the team",
                        "example": "2026-02-09T13:22:47.392121Z"
                    },
                    "members": {
                        "type": "array",
                        "description": "List of team members",
                        "items": {
                            "$ref": "#/components/schemas/TeamMember"
                        }
                    }
                }
            },
            "GetMyTeamsResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean",
                        "description": "Indicates if the request was successful",
                        "example": true
                    },
                    "message": {
                        "type": "string",
                        "description": "A message describing the result of the operation",
                        "example": "Teams fetched successfully"
                    },
                    "data": {
                        "type": "array",
                        "description": "List of teams the user is a member of",
                        "items": {
                            "$ref": "#/components/schemas/TeamWithMembers"
                        }
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "traceId": {
                                "type": "string",
                                "description": "Unique trace identifier for debugging purposes",
                                "example": "00-30eb584edc33d3b3c6abc2f2a48d531b-c7db91fb01d98955-00"
                            },
                            "elapsedMs": {
                                "type": "number",
                                "description": "Time taken to process the request in milliseconds",
                                "example": 42.28
                            },
                            "serverTimestamp": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Server timestamp when the response was generated",
                                "example": "2026-02-09T13:25:26.0306215Z"
                            }
                        }
                    }
                }
            },
            "GetTeamByIdResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean",
                        "description": "Indicates if the request was successful",
                        "example": true
                    },
                    "message": {
                        "type": "string",
                        "description": "A message describing the result of the operation",
                        "example": "Team retrieved successfully"
                    },
                    "data": {
                        "$ref": "#/components/schemas/TeamWithMembers"
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "traceId": {
                                "type": "string",
                                "description": "Unique trace identifier for debugging purposes",
                                "example": "00-30eb584edc33d3b3c6abc2f2a48d531b-c7db91fb01d98955-00"
                            },
                            "elapsedMs": {
                                "type": "number",
                                "description": "Time taken to process the request in milliseconds",
                                "example": 15.5
                            },
                            "serverTimestamp": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Server timestamp when the response was generated",
                                "example": "2026-02-09T13:25:26.0306215Z"
                            }
                        }
                    }
                }
            },
            "TeamRole": {
                "type": "integer",
                "description": "Role of the member in the team (1 = Owner, 3 = Member)",
                "enum": [
                    1,
                    3
                ],
                "x-enum-varnames": [
                    "Owner",
                    "Member"
                ],
                "x-enum-descriptions": [
                    "Team Owner",
                    "Team Member"
                ]
            },
            "BusinessRuleErrorResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean",
                        "description": "Indicates if the request was successful",
                        "example": false
                    },
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "type": "string",
                                "description": "Error code identifying the type of business rule violation",
                                "example": "BUSINESS_RULE_VIOLATION"
                            },
                            "message": {
                                "type": "string",
                                "description": "Human-readable error message",
                                "example": "Link your game account to create team"
                            }
                        }
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "traceId": {
                                "type": "string",
                                "description": "Unique trace identifier for debugging purposes",
                                "example": "00-861ab230a64e2191f50b84e76e901a09-c031a9c74a1a91ad-00"
                            }
                        }
                    }
                }
            },
            "ErrorResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean",
                        "description": "Indicates if the request was successful",
                        "example": false
                    },
                    "message": {
                        "type": "string",
                        "description": "Error message describing what went wrong",
                        "example": "Invalid API key"
                    },
                    "errors": {
                        "type": "array",
                        "description": "Detailed error information",
                        "items": {
                            "type": "object",
                            "properties": {
                                "field": {
                                    "type": "string",
                                    "description": "The field that caused the error",
                                    "example": "name"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "Description of the error",
                                    "example": "This field is required"
                                }
                            }
                        }
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "traceId": {
                                "type": "string",
                                "description": "Unique trace identifier for debugging purposes"
                            },
                            "serverTimestamp": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Server timestamp when the error occurred"
                            }
                        }
                    }
                }
            },
            "UpdateTeamRequest": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "Name of the team"
                    },
                    "logo": {
                        "type": "string",
                        "description": "URL to the team's logo image",
                        "nullable": true
                    },
                    "coverImage": {
                        "type": "string",
                        "description": "URL to the team's cover image",
                        "nullable": true
                    },
                    "description": {
                        "type": "string",
                        "description": "Description of the team",
                        "nullable": true
                    },
                    "gameId": {
                        "type": "string",
                        "format": "uuid",
                        "description": "ID of the game this team is associated with"
                    }
                }
            },
            "UpdatedTeamDetails": {
                "type": "object",
                "properties": {
                    "teamId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string",
                        "nullable": true
                    },
                    "teamSize": {
                        "type": "integer"
                    },
                    "ownerId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "ownerName": {
                        "type": "string"
                    },
                    "logo": {
                        "type": "string",
                        "nullable": true
                    },
                    "coverImage": {
                        "type": "string",
                        "nullable": true
                    },
                    "gameId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "gameName": {
                        "type": "string"
                    },
                    "gameImage": {
                        "type": "string",
                        "nullable": true
                    },
                    "members": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/TeamMember"
                        }
                    }
                }
            },
            "UpdateTeamResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "$ref": "#/components/schemas/UpdatedTeamDetails"
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "traceId": {
                                "type": "string"
                            },
                            "elapsedMs": {
                                "type": "number"
                            },
                            "serverTimestamp": {
                                "type": "string",
                                "format": "date-time"
                            }
                        }
                    }
                }
            },
            "DeleteTeamResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "message": {
                        "type": "string"
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "traceId": {
                                "type": "string"
                            },
                            "elapsedMs": {
                                "type": "number"
                            },
                            "serverTimestamp": {
                                "type": "string",
                                "format": "date-time"
                            }
                        }
                    }
                }
            },
            "RemoveTeamMemberResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "message": {
                        "type": "string"
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "traceId": {
                                "type": "string"
                            },
                            "elapsedMs": {
                                "type": "number"
                            },
                            "serverTimestamp": {
                                "type": "string",
                                "format": "date-time"
                            }
                        }
                    }
                }
            },
            "GetTeamInviteLinkResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "token": {
                                "type": "string"
                            }
                        }
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "traceId": {
                                "type": "string"
                            },
                            "elapsedMs": {
                                "type": "number"
                            },
                            "serverTimestamp": {
                                "type": "string",
                                "format": "date-time"
                            }
                        }
                    }
                }
            },
            "JoinTeamResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "$ref": "#/components/schemas/TeamWithMembers"
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "traceId": {
                                "type": "string"
                            },
                            "elapsedMs": {
                                "type": "number"
                            },
                            "serverTimestamp": {
                                "type": "string",
                                "format": "date-time"
                            }
                        }
                    }
                }
            },
            "GetTeamInvitePreviewResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "teamId": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "name": {
                                "type": "string"
                            },
                            "description": {
                                "type": "string",
                                "nullable": true
                            },
                            "logo": {
                                "type": "string",
                                "nullable": true
                            },
                            "coverImage": {
                                "type": "string",
                                "nullable": true
                            },
                            "teamSize": {
                                "type": "integer"
                            },
                            "currentMembers": {
                                "type": "integer"
                            },
                            "ownerName": {
                                "type": "string"
                            },
                            "gameId": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "gameName": {
                                "type": "string"
                            },
                            "canJoin": {
                                "type": "boolean",
                                "description": "Indicates if the user can join the team. Null if externalId is not provided.",
                                "nullable": true
                            },
                            "joinError": {
                                "type": "string",
                                "description": "Reason why the user cannot join the team. Null if canJoin is true or externalId is not provided.",
                                "nullable": true
                            }
                        }
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "traceId": {
                                "type": "string"
                            },
                            "elapsedMs": {
                                "type": "number"
                            },
                            "serverTimestamp": {
                                "type": "string",
                                "format": "date-time"
                            }
                        }
                    }
                }
            }
        }
    }
}