{
    "openapi": "3.0.0",
    "info": {
        "title": "Tournaments",
        "version": "1.0.0",
        "description": "API endpoints for accessing tournaments"
    },
    "servers": [
        {
            "url": "https://api.16tms.com/api/v1",
            "description": "Production server"
        }
    ],
    "security": [
        {
            "ApiKeyAuth": []
        }
    ],
    "paths": {
        "/tournaments": {
            "get": {
                "summary": "Get Tournaments",
                "description": "Fetch a list of tournaments with optional filters.",
                "operationId": "getTournaments",
                "parameters": [
                    {
                        "name": "GameId",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Filter by Game ID"
                    },
                    {
                        "name": "Status",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Filter by tournament status"
                    },
                    {
                        "name": "IsFeatured",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        },
                        "description": "Filter by featured status"
                    },
                    {
                        "name": "PageNumber",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Page number for pagination"
                    },
                    {
                        "name": "PageSize",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Number of items per page"
                    },
                    {
                        "name": "externalId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "External ID of the user. If provided, user-specific fields like 'hasJoined' will be populated."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tournaments fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetTournamentsResponse"
                                },
                                "example": {
                                    "success": true,
                                    "message": "Tournaments fetched successfully",
                                    "data": {
                                        "items": [
                                            {
                                                "tournamentId": "91598fb6-12f0-4fe1-aaec-6b408ab92565",
                                                "tournamentName": "Auto Test Tournament",
                                                "gameId": "03401d21-5109-4991-a39c-551a05bfa176",
                                                "gameName": "BGMI",
                                                "description": "This is an auto-filled tournament used for rapid testing scenarios.",
                                                "enrollmentLimit": 32,
                                                "maxTeamMembers": 4,
                                                "minTeamMembers": 2,
                                                "startTime": "2026-02-13T12:10:00Z",
                                                "endTime": "2026-02-15T12:10:00Z",
                                                "registrationDeadline": "2026-02-13T11:10:00Z",
                                                "registrationOpen": true,
                                                "isOnline": true,
                                                "status": 1,
                                                "matchType": 2,
                                                "teamType": "squad",
                                                "color": "#2563eb",
                                                "prizePool": 5000,
                                                "entryFee": 50,
                                                "image": null,
                                                "coverImage": null,
                                                "isTrending": false,
                                                "isFeatured": true,
                                                "isPasswordProtected": false,
                                                "instantRegistrations": false,
                                                "entryFeeCurrencyId": "10282b10-2b44-4bbb-9c1d-155e0bb46e79",
                                                "entryFeeCurrencyName": "d",
                                                "entryFeeCurrencySymbol": "$",
                                                "prizePoolCurrencyId": "10282b10-2b44-4bbb-9c1d-155e0bb46e79",
                                                "prizePoolCurrencyName": "d",
                                                "prizePoolCurrencySymbol": "$",
                                                "hasJoined": null,
                                                "canJoin": null,
                                                "cannotJoinReason": null,
                                                "teamsJoinedCount": 0
                                            }
                                        ],
                                        "totalCount": 1,
                                        "pageNumber": 1,
                                        "pageSize": 20,
                                        "totalPages": 1
                                    },
                                    "meta": {
                                        "traceId": "00-f125448ab05644fa80f36b22f1d71ac5-0124b07dc253ea94-00",
                                        "elapsedMs": 70.26,
                                        "serverTimestamp": "2026-02-12T11:21:26.4669586Z"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tournaments/{id}": {
            "get": {
                "summary": "Get Tournament Details",
                "description": "Fetch detailed information about a specific tournament.",
                "operationId": "getTournamentById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The unique identifier of the tournament"
                    },
                    {
                        "name": "externalId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "External ID of the user. If provided, user-specific fields like 'hasJoined' will be populated."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tournament fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetTournamentResponse"
                                },
                                "example": {
                                    "success": true,
                                    "message": "Tournament fetched successfully",
                                    "data": {
                                        "tournamentId": "91598fb6-12f0-4fe1-aaec-6b408ab92565",
                                        "tournamentName": "Auto Test Tournament",
                                        "gameId": "03401d21-5109-4991-a39c-551a05bfa176",
                                        "gameName": "BGMI",
                                        "description": "This is an auto-filled tournament used for rapid testing scenarios.",
                                        "enrollmentLimit": 32,
                                        "maxTeamMembers": 4,
                                        "minTeamMembers": 2,
                                        "startTime": "2026-02-13T12:10:00Z",
                                        "endTime": "2026-02-15T12:10:00Z",
                                        "registrationDeadline": "2026-02-13T11:10:00Z",
                                        "registrationOpen": true,
                                        "isOnline": true,
                                        "status": 1,
                                        "matchType": 2,
                                        "tournamentFormat": null,
                                        "teamType": "squad",
                                        "color": "#2563eb",
                                        "prizePool": 5000,
                                        "entryFee": 50,
                                        "rules": "{\"test\":\"test\",\"test2\":\"test2\"}",
                                        "prizeDistribution": "{\"positions\":[{\"prize\":\"1st Place\",\"amount\":0}],\"special\":[]}",
                                        "pointsSystem": "{\"pointsPerFinish\":1,\"pointsPerKnock\":0,\"placementPoints\":{\"1\":10,\"2\":6,\"3\":5,\"4\":4,\"5\":3,\"6\":2,\"7\":1,\"8\":1}}",
                                        "bracketData": null,
                                        "watchUrls": null,
                                        "joinLink": null,
                                        "image": null,
                                        "coverImage": null,
                                        "isTrending": false,
                                        "isFeatured": true,
                                        "isPasswordProtected": false,
                                        "instantRegistrations": false,
                                        "winnerTeamId": null,
                                        "winnerTeamName": null,
                                        "organiserId": "ed749113-00da-4413-ba11-f62e1140cabb",
                                        "organiserName": "Dhruv Patel",
                                        "organiserImage": null,
                                        "entryFeeCurrencyId": "10282b10-2b44-4bbb-9c1d-155e0bb46e79",
                                        "entryFeeCurrencyName": "d",
                                        "entryFeeCurrencySymbol": "$",
                                        "prizePoolCurrencyId": "10282b10-2b44-4bbb-9c1d-155e0bb46e79",
                                        "prizePoolCurrencyName": "d",
                                        "prizePoolCurrencySymbol": "$",
                                        "teamsJoinedCount": 0,
                                        "hasJoined": null,
                                        "canJoin": null,
                                        "cannotJoinReason": null
                                    },
                                    "meta": {
                                        "traceId": "00-ea52a8e1d11a32b60520c17c0818c717-b4ef7d2e5d5ccc9c-00",
                                        "elapsedMs": 5.7,
                                        "serverTimestamp": "2026-02-12T11:38:31.8482596Z"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tournaments/{id}/rules": {
            "get": {
                "summary": "Get Tournament Rules",
                "description": "Fetch the rules for a specific tournament.",
                "operationId": "getTournamentRules",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The unique identifier of the tournament"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tournament rules fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetTournamentRulesResponse"
                                },
                                "example": {
                                    "success": true,
                                    "message": "Tournament rules fetched successfully",
                                    "data": {
                                        "tournamentId": "91598fb6-12f0-4fe1-aaec-6b408ab92565",
                                        "rules": "{\"test\":\"test\",\"test2\":\"test2\"}"
                                    },
                                    "meta": {
                                        "traceId": "00-85bc1cb0bd513822a9bb106d4d7d10e3-2188fd407fe00022-00",
                                        "elapsedMs": 11.13,
                                        "serverTimestamp": "2026-02-12T11:40:47.4564785Z"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tournaments/{id}/points-system": {
            "get": {
                "summary": "Get Tournament Points System",
                "description": "Fetch the points system for a specific tournament.",
                "operationId": "getTournamentPointsSystem",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The unique identifier of the tournament"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tournament points system fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetTournamentPointsSystemResponse"
                                },
                                "example": {
                                    "success": true,
                                    "message": "Tournament points system fetched successfully",
                                    "data": {
                                        "tournamentId": "91598fb6-12f0-4fe1-aaec-6b408ab92565",
                                        "pointsSystem": "{\"pointsPerFinish\":1,\"pointsPerKnock\":0,\"placementPoints\":{\"1\":10,\"2\":6,\"3\":5,\"4\":4,\"5\":3,\"6\":2,\"7\":1,\"8\":1}}"
                                    },
                                    "meta": {
                                        "traceId": "00-877a407b5f5f48cfe0f3101316457f56-399d7e6761a868f5-00",
                                        "elapsedMs": 0.96,
                                        "serverTimestamp": "2026-02-12T11:41:28.7460917Z"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tournaments/{id}/prize-distribution": {
            "get": {
                "summary": "Get Tournament Prize Distribution",
                "description": "Fetch the prize distribution for a specific tournament.",
                "operationId": "getTournamentPrizeDistribution",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The unique identifier of the tournament"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tournament prize distribution fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetTournamentPrizeDistributionResponse"
                                },
                                "example": {
                                    "success": true,
                                    "message": "Tournament prize distribution fetched successfully",
                                    "data": {
                                        "tournamentId": "91598fb6-12f0-4fe1-aaec-6b408ab92565",
                                        "prizeDistribution": "{\"positions\":[{\"prize\":\"1st Place\",\"amount\":0}],\"special\":[]}"
                                    },
                                    "meta": {
                                        "traceId": "00-32b61e2de997adb466dabf4f0f9471cd-acd9c83f1197e704-00",
                                        "elapsedMs": 2.85,
                                        "serverTimestamp": "2026-02-12T11:42:18.009389Z"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tournaments/{tournamentId}/participants": {
            "get": {
                "summary": "Get Tournament Participants",
                "description": "Fetch a list of participants for a specific tournament.",
                "operationId": "getTournamentParticipants",
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The unique identifier of the tournament"
                    },
                    {
                        "name": "externalId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "External ID of the user. If provided, 'isMe' field will be populated."
                    },
                    {
                        "name": "RoundId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "Filter by Round ID"
                    },
                    {
                        "name": "GroupId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "Filter by Group ID"
                    },
                    {
                        "name": "MatchId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "Filter by Match ID"
                    },
                    {
                        "name": "PageNumber",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "description": "Page number for pagination"
                    },
                    {
                        "name": "PageSize",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "description": "Number of items per page"
                    },
                    {
                        "name": "GroupVersion",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "description": "Filter by Group Version"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tournament participants fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetTournamentParticipantsResponse"
                                },
                                "example": {
                                    "success": true,
                                    "message": "Tournament participants fetched successfully",
                                    "data": {
                                        "items": [
                                            {
                                                "tournamentParticipantId": "cbf13f1e-573e-42b7-abef-a164287b40d2",
                                                "tournamentId": "68b5b039-2183-421c-9b47-b937e4736d25",
                                                "tournamentName": "Free Fire Clash",
                                                "participantId": "b12527ac-34c4-49a5-883e-682f93c51256",
                                                "participantType": 1,
                                                "participantName": "Phoenix_Rising",
                                                "participantLogo": "https://api.dicebear.com/7.x/identicon/svg?seed=Phoenix",
                                                "joinedAt": "2026-02-10T07:04:35.198734Z",
                                                "totalMemberCount": 4,
                                                "externalId": null,
                                                "isMe": null
                                            },
                                            {
                                                "tournamentParticipantId": "af51251d-7d9a-498e-973e-3f358e63ea57",
                                                "tournamentId": "68b5b039-2183-421c-9b47-b937e4736d25",
                                                "tournamentName": "Free Fire Clash",
                                                "participantId": "f661cc49-19f4-4b0a-a167-8b596bc8ad8e",
                                                "participantType": 1,
                                                "participantName": "Dark_Knights",
                                                "participantLogo": "https://api.dicebear.com/7.x/identicon/svg?seed=Knights",
                                                "joinedAt": "2026-02-10T07:04:35.477279Z",
                                                "totalMemberCount": 4,
                                                "externalId": null,
                                                "isMe": null
                                            }
                                        ],
                                        "totalCount": 2,
                                        "pageNumber": 1,
                                        "pageSize": 20,
                                        "totalPages": 1
                                    },
                                    "meta": {
                                        "traceId": "00-b32b8151b4c1dd831fda494a00e06c50-1f3de4ce8a71005b-00",
                                        "elapsedMs": 27.86,
                                        "serverTimestamp": "2026-02-17T10:17:41.979395Z"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "ApiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "X-API-KEY",
                "description": "API key for authentication."
            }
        },
        "schemas": {
            "GetTournamentsResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "items": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/TournamentItem"
                                }
                            },
                            "totalCount": {
                                "type": "integer"
                            },
                            "pageNumber": {
                                "type": "integer"
                            },
                            "pageSize": {
                                "type": "integer"
                            },
                            "totalPages": {
                                "type": "integer"
                            }
                        }
                    },
                    "meta": {
                        "$ref": "#/components/schemas/Meta"
                    }
                }
            },
            "TournamentItem": {
                "type": "object",
                "properties": {
                    "tournamentId": {
                        "type": "string",
                        "example": "91598fb6-12f0-4fe1-aaec-6b408ab92565"
                    },
                    "tournamentName": {
                        "type": "string",
                        "example": "Auto Test Tournament"
                    },
                    "gameId": {
                        "type": "string",
                        "example": "03401d21-5109-4991-a39c-551a05bfa176"
                    },
                    "gameName": {
                        "type": "string",
                        "example": "BGMI"
                    },
                    "description": {
                        "type": "string",
                        "example": "This is an auto-filled tournament used for rapid testing scenarios."
                    },
                    "enrollmentLimit": {
                        "type": "integer",
                        "example": 32
                    },
                    "maxTeamMembers": {
                        "type": "integer",
                        "example": 4
                    },
                    "minTeamMembers": {
                        "type": "integer",
                        "example": 2
                    },
                    "startTime": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2026-02-13T12:10:00Z"
                    },
                    "endTime": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2026-02-15T12:10:00Z"
                    },
                    "registrationDeadline": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2026-02-13T11:10:00Z"
                    },
                    "registrationOpen": {
                        "type": "boolean",
                        "example": true
                    },
                    "isOnline": {
                        "type": "boolean",
                        "example": true
                    },
                    "status": {
                        "type": "integer",
                        "example": 1
                    },
                    "matchType": {
                        "type": "integer",
                        "example": 2
                    },
                    "teamType": {
                        "type": "string",
                        "example": "squad"
                    },
                    "color": {
                        "type": "string",
                        "example": "#2563eb"
                    },
                    "prizePool": {
                        "type": "number",
                        "example": 5000
                    },
                    "entryFee": {
                        "type": "number",
                        "example": 50
                    },
                    "image": {
                        "type": "string",
                        "nullable": true,
                        "example": null
                    },
                    "coverImage": {
                        "type": "string",
                        "nullable": true,
                        "example": null
                    },
                    "isTrending": {
                        "type": "boolean",
                        "example": false
                    },
                    "isFeatured": {
                        "type": "boolean",
                        "example": true
                    },
                    "isPasswordProtected": {
                        "type": "boolean",
                        "example": false
                    },
                    "instantRegistrations": {
                        "type": "boolean",
                        "example": false
                    },
                    "entryFeeCurrencyId": {
                        "type": "string",
                        "example": "10282b10-2b44-4bbb-9c1d-155e0bb46e79"
                    },
                    "entryFeeCurrencyName": {
                        "type": "string",
                        "example": "d"
                    },
                    "entryFeeCurrencySymbol": {
                        "type": "string",
                        "example": "$"
                    },
                    "prizePoolCurrencyId": {
                        "type": "string",
                        "example": "10282b10-2b44-4bbb-9c1d-155e0bb46e79"
                    },
                    "prizePoolCurrencyName": {
                        "type": "string",
                        "example": "d"
                    },
                    "prizePoolCurrencySymbol": {
                        "type": "string",
                        "example": "$"
                    },
                    "hasJoined": {
                        "type": "boolean",
                        "nullable": true,
                        "example": null
                    },
                    "canJoin": {
                        "type": "boolean",
                        "nullable": true,
                        "example": null
                    },
                    "cannotJoinReason": {
                        "type": "string",
                        "nullable": true,
                        "example": null
                    },
                    "teamsJoinedCount": {
                        "type": "integer",
                        "example": 0
                    }
                }
            },
            "Meta": {
                "type": "object",
                "properties": {
                    "traceId": {
                        "type": "string",
                        "example": "00-f125448ab05644fa80f36b22f1d71ac5-0124b07dc253ea94-00"
                    },
                    "elapsedMs": {
                        "type": "number",
                        "example": 70.26
                    },
                    "serverTimestamp": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2026-02-12T11:21:26.4669586Z"
                    }
                }
            },
            "GetTournamentResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "$ref": "#/components/schemas/TournamentDetail"
                    },
                    "meta": {
                        "$ref": "#/components/schemas/Meta"
                    }
                }
            },
            "TournamentDetail": {
                "type": "object",
                "properties": {
                    "tournamentId": {
                        "type": "string",
                        "example": "91598fb6-12f0-4fe1-aaec-6b408ab92565"
                    },
                    "tournamentName": {
                        "type": "string",
                        "example": "Auto Test Tournament"
                    },
                    "gameId": {
                        "type": "string",
                        "example": "03401d21-5109-4991-a39c-551a05bfa176"
                    },
                    "gameName": {
                        "type": "string",
                        "example": "BGMI"
                    },
                    "description": {
                        "type": "string",
                        "example": "This is an auto-filled tournament used for rapid testing scenarios."
                    },
                    "enrollmentLimit": {
                        "type": "integer",
                        "example": 32
                    },
                    "maxTeamMembers": {
                        "type": "integer",
                        "example": 4
                    },
                    "minTeamMembers": {
                        "type": "integer",
                        "example": 2
                    },
                    "startTime": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2026-02-13T12:10:00Z"
                    },
                    "endTime": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2026-02-15T12:10:00Z"
                    },
                    "registrationDeadline": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2026-02-13T11:10:00Z"
                    },
                    "registrationOpen": {
                        "type": "boolean",
                        "example": true
                    },
                    "isOnline": {
                        "type": "boolean",
                        "example": true
                    },
                    "status": {
                        "type": "integer",
                        "example": 1
                    },
                    "matchType": {
                        "type": "integer",
                        "example": 2
                    },
                    "tournamentFormat": {
                        "type": "string",
                        "nullable": true,
                        "example": null
                    },
                    "teamType": {
                        "type": "string",
                        "example": "squad"
                    },
                    "color": {
                        "type": "string",
                        "example": "#2563eb"
                    },
                    "prizePool": {
                        "type": "number",
                        "example": 5000
                    },
                    "entryFee": {
                        "type": "number",
                        "example": 50
                    },
                    "rules": {
                        "type": "string",
                        "example": "{\"test\":\"test\",\"test2\":\"test2\"}"
                    },
                    "prizeDistribution": {
                        "type": "string",
                        "example": "{\"positions\":[{\"prize\":\"1st Place\",\"amount\":0}],\"special\":[]}"
                    },
                    "pointsSystem": {
                        "type": "string",
                        "example": "{\"pointsPerFinish\":1,\"pointsPerKnock\":0,\"placementPoints\":{\"1\":10,\"2\":6,\"3\":5,\"4\":4,\"5\":3,\"6\":2,\"7\":1,\"8\":1}}"
                    },
                    "bracketData": {
                        "type": "object",
                        "nullable": true,
                        "example": null
                    },
                    "watchUrls": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "nullable": true,
                        "example": null
                    },
                    "joinLink": {
                        "type": "string",
                        "nullable": true,
                        "example": null
                    },
                    "image": {
                        "type": "string",
                        "nullable": true,
                        "example": null
                    },
                    "coverImage": {
                        "type": "string",
                        "nullable": true,
                        "example": null
                    },
                    "isTrending": {
                        "type": "boolean",
                        "example": false
                    },
                    "isFeatured": {
                        "type": "boolean",
                        "example": true
                    },
                    "isPasswordProtected": {
                        "type": "boolean",
                        "example": false
                    },
                    "instantRegistrations": {
                        "type": "boolean",
                        "example": false
                    },
                    "winnerTeamId": {
                        "type": "string",
                        "nullable": true,
                        "example": null
                    },
                    "winnerTeamName": {
                        "type": "string",
                        "nullable": true,
                        "example": null
                    },
                    "organiserId": {
                        "type": "string",
                        "example": "ed749113-00da-4413-ba11-f62e1140cabb"
                    },
                    "organiserName": {
                        "type": "string",
                        "example": "Dhruv Patel"
                    },
                    "organiserImage": {
                        "type": "string",
                        "nullable": true,
                        "example": null
                    },
                    "entryFeeCurrencyId": {
                        "type": "string",
                        "example": "10282b10-2b44-4bbb-9c1d-155e0bb46e79"
                    },
                    "entryFeeCurrencyName": {
                        "type": "string",
                        "example": "d"
                    },
                    "entryFeeCurrencySymbol": {
                        "type": "string",
                        "example": "$"
                    },
                    "prizePoolCurrencyId": {
                        "type": "string",
                        "example": "10282b10-2b44-4bbb-9c1d-155e0bb46e79"
                    },
                    "prizePoolCurrencyName": {
                        "type": "string",
                        "example": "d"
                    },
                    "prizePoolCurrencySymbol": {
                        "type": "string",
                        "example": "$"
                    },
                    "teamsJoinedCount": {
                        "type": "integer",
                        "example": 0
                    },
                    "hasJoined": {
                        "type": "boolean",
                        "nullable": true,
                        "example": null
                    },
                    "canJoin": {
                        "type": "boolean",
                        "nullable": true,
                        "example": null
                    },
                    "cannotJoinReason": {
                        "type": "string",
                        "nullable": true,
                        "example": null
                    }
                }
            },
            "GetTournamentRulesResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "tournamentId": {
                                "type": "string",
                                "example": "91598fb6-12f0-4fe1-aaec-6b408ab92565"
                            },
                            "rules": {
                                "type": "string",
                                "example": "{\"test\":\"test\",\"test2\":\"test2\"}"
                            }
                        }
                    },
                    "meta": {
                        "$ref": "#/components/schemas/Meta"
                    }
                }
            },
            "GetTournamentPointsSystemResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "tournamentId": {
                                "type": "string",
                                "example": "91598fb6-12f0-4fe1-aaec-6b408ab92565"
                            },
                            "pointsSystem": {
                                "type": "string",
                                "example": "{\"pointsPerFinish\":1,\"pointsPerKnock\":0,\"placementPoints\":{\"1\":10,\"2\":6,\"3\":5,\"4\":4,\"5\":3,\"6\":2,\"7\":1,\"8\":1}}"
                            }
                        }
                    },
                    "meta": {
                        "$ref": "#/components/schemas/Meta"
                    }
                }
            },
            "GetTournamentPrizeDistributionResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "tournamentId": {
                                "type": "string",
                                "example": "91598fb6-12f0-4fe1-aaec-6b408ab92565"
                            },
                            "prizeDistribution": {
                                "type": "string",
                                "example": "{\"positions\":[{\"prize\":\"1st Place\",\"amount\":0}],\"special\":[]}"
                            }
                        }
                    },
                    "meta": {
                        "$ref": "#/components/schemas/Meta"
                    }
                }
            },
            "GetTournamentParticipantsResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "items": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/TournamentParticipantItem"
                                }
                            },
                            "totalCount": {
                                "type": "integer"
                            },
                            "pageNumber": {
                                "type": "integer"
                            },
                            "pageSize": {
                                "type": "integer"
                            },
                            "totalPages": {
                                "type": "integer"
                            }
                        }
                    },
                    "meta": {
                        "$ref": "#/components/schemas/Meta"
                    }
                }
            },
            "TournamentParticipantItem": {
                "type": "object",
                "properties": {
                    "tournamentParticipantId": {
                        "type": "string",
                        "format": "uuid",
                        "example": "9e2c3c0f-15b8-4408-b1dc-1535737c5533"
                    },
                    "tournamentId": {
                        "type": "string",
                        "format": "uuid",
                        "example": "d39102c1-a8af-4ecb-9f99-8b0fe8fe993b"
                    },
                    "tournamentName": {
                        "type": "string",
                        "example": "Call of Duty Mobile tournament"
                    },
                    "participantId": {
                        "type": "string",
                        "format": "uuid",
                        "example": "847b3c7c-5f4f-422a-8457-05e60719d594"
                    },
                    "participantType": {
                        "type": "integer",
                        "example": 1
                    },
                    "participantName": {
                        "type": "string",
                        "example": "SteelFist WarMachine IronClad TitanFall"
                    },
                    "participantLogo": {
                        "type": "string",
                        "example": "https://api.dicebear.com/7.x/identicon/svg?seed=Storm"
                    },
                    "joinedAt": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2026-02-10T07:46:27.141143Z"
                    },
                    "isDisqualified": {
                        "type": "boolean",
                        "example": false
                    },
                    "totalMemberCount": {
                        "type": "integer",
                        "example": 4
                    },
                    "externalId": {
                        "type": "string",
                        "nullable": true,
                        "example": null
                    },
                    "isMe": {
                        "type": "boolean",
                        "nullable": true,
                        "example": null
                    }
                }
            }
        }
    }
}