{
    "openapi": "3.0.0",
    "info": {
        "title": "Assigned Rounds",
        "version": "1.0.0",
        "description": "API endpoints for accessing assigned rounds"
    },
    "servers": [
        {
            "url": "https://api.16tms.com/api/v1",
            "description": "Production server"
        }
    ],
    "security": [
        {
            "ApiKeyAuth": []
        }
    ],
    "paths": {
        "/tournaments/{tournamentId}/duel/assigned-details": {
            "get": {
                "summary": "Get Duel Assigned Details",
                "description": "Fetch assigned details for Duel tournaments, including assigned matches for rounds.",
                "operationId": "getDuelAssignedDetails",
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "The unique identifier of the tournament"
                    },
                    {
                        "name": "externalId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "External ID of the user."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Assigned duel matches fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetDuelAssignedDetailsResponse"
                                },
                                "example": {
                                    "success": true,
                                    "message": "Assigned duel matches fetched successfully",
                                    "data": {
                                        "rounds": [
                                            {
                                                "roundId": "a3601040-bedd-4b13-a745-a098e5fe2548",
                                                "roundName": "Round 1",
                                                "roundNumber": 1,
                                                "matches": [
                                                    {
                                                        "matchId": "d09d41f8-604e-43ad-a0c5-0e86911cbb58",
                                                        "tournamentId": "7e8aeca4-f658-4665-9abc-cec9b369a902",
                                                        "tournamentName": "The invitational",
                                                        "roundId": "a3601040-bedd-4b13-a745-a098e5fe2548",
                                                        "roundName": "Round 1",
                                                        "matchNumber": 4,
                                                        "matchStatus": 2,
                                                        "matchResult": 2,
                                                        "scheduledAt": null,
                                                        "bestOf": 1,
                                                        "games": [
                                                            {
                                                                "matchGameId": "3a30c08a-85c3-4926-8382-9fb62c42ee8b",
                                                                "matchId": "d09d41f8-604e-43ad-a0c5-0e86911cbb58",
                                                                "gameSerial": 1,
                                                                "mapId": null,
                                                                "mapName": null,
                                                                "participant1Score": 0,
                                                                "participant2Score": 0,
                                                                "winnerId": null,
                                                                "gameResult": 1,
                                                                "extraData": null,
                                                                "scheduledAt": null
                                                            }
                                                        ],
                                                        "duelDetail": {
                                                            "participant1Id": "360b0a90-8fd0-4624-b825-254554b447e8",
                                                            "participant1Name": "Dark Knightts",
                                                            "participant1Logo": "https://api.dicebear.com/7.x/identicon/svg?seed=Knights",
                                                            "participant1ExternalId": null,
                                                            "participant1Type": 1,
                                                            "participant2Id": "2f032169-b356-4ae0-b2e9-b4f2adead252",
                                                            "participant2Name": "Phoenix Risings",
                                                            "participant2Logo": "https://api.dicebear.com/7.x/identicon/svg?seed=Phoenix",
                                                            "participant2ExternalId": null,
                                                            "participant2Type": 1,
                                                            "participant1Score": 0,
                                                            "participant2Score": 0,
                                                            "winnerTeamId": null,
                                                            "mapId": null,
                                                            "mapName": null,
                                                            "duration": null
                                                        }
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "meta": {
                                        "traceId": "00-d287aea4103e6faab76bd295b66286f9-7d815704fec566ae-00",
                                        "elapsedMs": 25.94,
                                        "serverTimestamp": "2026-02-17T12:20:48.8721693Z"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tournaments/{tournamentId}/ffa/assigned-details": {
            "get": {
                "summary": "Get FFA Assigned Details",
                "description": "Fetch assigned details for FFA tournaments, including assigned groups for rounds.",
                "operationId": "getFfaAssignedDetails",
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "The unique identifier of the tournament"
                    },
                    {
                        "name": "externalId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "External ID of the user."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Assigned tournament details fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetAssignedDetailsResponse"
                                },
                                "example": {
                                    "success": true,
                                    "message": "Assigned tournament details fetched successfully",
                                    "data": {
                                        "rounds": [
                                            {
                                                "id": "44accbab-48f7-4fe0-8085-df45903863a8",
                                                "tournamentId": "788f9b9d-1aec-4dec-b2fc-d585a6ef149f",
                                                "roundName": "Round 1 (Normal)",
                                                "description": "",
                                                "teamCount": 4,
                                                "matchesPerGroup": 2,
                                                "startDate": "2026-02-10T07:49:51.364271Z",
                                                "endDate": "2026-02-11T07:49:51.364271Z",
                                                "roundType": 1,
                                                "status": 4,
                                                "roundNumber": 1,
                                                "numberOfGroups": 0,
                                                "numberOfMatches": 4,
                                                "assignedGroups": [
                                                    {
                                                        "id": "61e28f2f-367a-4cfc-8488-3a3aa4e4e04e",
                                                        "tournamentRoundId": "44accbab-48f7-4fe0-8085-df45903863a8",
                                                        "groupName": "Group 2",
                                                        "maxParticipants": 2,
                                                        "groupVersion": 1
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "meta": {
                                        "traceId": "00-a1cfa6f179adc0916b0cdf83f16b02a6-7fe2112fc6f5fba9-00",
                                        "elapsedMs": 55.8,
                                        "serverTimestamp": "2026-02-17T12:17:29.1198079Z"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tournaments/my-tournaments": {
            "get": {
                "summary": "Get My Tournaments",
                "description": "Fetch a list of tournaments that the user has joined.",
                "operationId": "getMyTournaments",
                "parameters": [
                    {
                        "name": "externalId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "External ID of the user."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User participated tournaments fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetMyTournamentsResponse"
                                },
                                "example": {
                                    "success": true,
                                    "message": "User participated tournaments fetched successfully",
                                    "data": [
                                        {
                                            "tournamentId": "d39102c1-a8af-4ecb-9f99-8b0fe8fe993b",
                                            "tournamentName": "Call of Duty Mobile tournament",
                                            "gameId": "bbbcaf40-b0f0-4da6-a934-15575e2e51ea",
                                            "gameName": "Call of Duty",
                                            "description": "cod tournament",
                                            "enrollmentLimit": 64,
                                            "maxTeamMembers": 4,
                                            "minTeamMembers": 4,
                                            "startTime": "2026-02-18T08:37:00Z",
                                            "endTime": "2026-02-19T08:37:00Z",
                                            "registrationDeadline": "2026-02-17T07:37:00Z",
                                            "registrationOpen": true,
                                            "isOnline": true,
                                            "status": 3,
                                            "matchType": 1,
                                            "teamType": "squad",
                                            "color": "#6b7280",
                                            "prizePool": 0,
                                            "entryFee": 0,
                                            "image": "https://metaninzamedia.blob.core.windows.net/media/tournaments/20260210073717_images %2816%29.webp",
                                            "coverImage": "https://metaninzamedia.blob.core.windows.net/media/tournaments/20260210073722_images %2817%29.webp",
                                            "isTrending": false,
                                            "isFeatured": false,
                                            "isPasswordProtected": false,
                                            "instantRegistrations": true,
                                            "entryFeeCurrencyId": "f64a0486-f7cd-48d8-b449-25dc6cc02065",
                                            "entryFeeCurrencyName": "Ninza Coins",
                                            "entryFeeCurrencySymbol": "%",
                                            "prizePoolCurrencyId": "f64a0486-f7cd-48d8-b449-25dc6cc02065",
                                            "prizePoolCurrencyName": "Ninza Coins",
                                            "prizePoolCurrencySymbol": "%",
                                            "hasJoined": true,
                                            "canJoin": false,
                                            "cannotJoinReason": "Team already joined",
                                            "teamsJoinedCount": 12
                                        }
                                    ],
                                    "meta": {
                                        "traceId": "00-e0cb1029b70258b31400d19a862f3e7e-ac616f4c8b144ec1-00",
                                        "elapsedMs": 10.06,
                                        "serverTimestamp": "2026-02-16T12:24:23.5376826Z"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "ApiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "X-API-KEY",
                "description": "API key for authentication."
            }
        },
        "schemas": {
            "GetDuelAssignedDetailsResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "rounds": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/DuelRoundDetails"
                                }
                            }
                        }
                    },
                    "meta": {
                        "$ref": "#/components/schemas/Meta"
                    }
                }
            },
            "DuelRoundDetails": {
                "type": "object",
                "properties": {
                    "roundId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "roundName": {
                        "type": "string"
                    },
                    "roundNumber": {
                        "type": "integer"
                    },
                    "matches": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AssignedDuelMatch"
                        }
                    }
                }
            },
            "AssignedDuelMatch": {
                "type": "object",
                "properties": {
                    "matchId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "tournamentId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "tournamentName": {
                        "type": "string"
                    },
                    "roundId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "roundName": {
                        "type": "string"
                    },
                    "matchNumber": {
                        "type": "integer"
                    },
                    "matchStatus": {
                        "type": "integer"
                    },
                    "matchResult": {
                        "type": "integer"
                    },
                    "scheduledAt": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "bestOf": {
                        "type": "integer"
                    },
                    "games": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AssignedDuelGame"
                        }
                    },
                    "duelDetail": {
                        "$ref": "#/components/schemas/AssignedDuelMatchDetail"
                    }
                }
            },
            "AssignedDuelGame": {
                "type": "object",
                "properties": {
                    "matchGameId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "matchId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "gameSerial": {
                        "type": "integer"
                    },
                    "mapId": {
                        "type": "string",
                        "nullable": true
                    },
                    "mapName": {
                        "type": "string",
                        "nullable": true
                    },
                    "participant1Score": {
                        "type": "number"
                    },
                    "participant2Score": {
                        "type": "number"
                    },
                    "winnerId": {
                        "type": "string",
                        "format": "uuid",
                        "nullable": true
                    },
                    "gameResult": {
                        "type": "integer"
                    },
                    "extraData": {
                        "type": "string",
                        "nullable": true
                    },
                    "scheduledAt": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                }
            },
            "AssignedDuelMatchDetail": {
                "type": "object",
                "properties": {
                    "participant1Id": {
                        "type": "string",
                        "format": "uuid",
                        "nullable": true
                    },
                    "participant1Name": {
                        "type": "string",
                        "nullable": true
                    },
                    "participant1Logo": {
                        "type": "string",
                        "nullable": true
                    },
                    "participant1ExternalId": {
                        "type": "string",
                        "nullable": true
                    },
                    "participant1Type": {
                        "type": "integer",
                        "nullable": true
                    },
                    "participant2Id": {
                        "type": "string",
                        "format": "uuid",
                        "nullable": true
                    },
                    "participant2Name": {
                        "type": "string",
                        "nullable": true
                    },
                    "participant2Logo": {
                        "type": "string",
                        "nullable": true
                    },
                    "participant2ExternalId": {
                        "type": "string",
                        "nullable": true
                    },
                    "participant2Type": {
                        "type": "integer",
                        "nullable": true
                    },
                    "participant1Score": {
                        "type": "number"
                    },
                    "participant2Score": {
                        "type": "number"
                    },
                    "winnerTeamId": {
                        "type": "string",
                        "format": "uuid",
                        "nullable": true
                    },
                    "mapId": {
                        "type": "string",
                        "nullable": true
                    },
                    "mapName": {
                        "type": "string",
                        "nullable": true
                    },
                    "duration": {
                        "type": "string",
                        "nullable": true
                    }
                }
            },
            "GetAssignedDetailsResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "rounds": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/AssignedRoundDetails"
                                }
                            }
                        }
                    },
                    "meta": {
                        "$ref": "#/components/schemas/Meta"
                    }
                }
            },
            "AssignedRoundDetails": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "tournamentId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "roundName": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "teamCount": {
                        "type": "integer"
                    },
                    "matchesPerGroup": {
                        "type": "integer"
                    },
                    "startDate": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "endDate": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "roundType": {
                        "type": "integer"
                    },
                    "status": {
                        "type": "integer"
                    },
                    "roundNumber": {
                        "type": "integer"
                    },
                    "numberOfGroups": {
                        "type": "integer"
                    },
                    "numberOfMatches": {
                        "type": "integer"
                    },
                    "assignedGroups": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AssignedGroup"
                        }
                    }
                }
            },
            "AssignedGroup": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "tournamentRoundId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "groupName": {
                        "type": "string"
                    },
                    "maxParticipants": {
                        "type": "integer"
                    },
                    "groupVersion": {
                        "type": "integer"
                    }
                }
            },
            "Meta": {
                "type": "object",
                "properties": {
                    "traceId": {
                        "type": "string",
                        "example": "00-eafdb3435de2eb96fa8f21b4426e6706-320a36e766afe193-00"
                    },
                    "elapsedMs": {
                        "type": "number",
                        "example": 46.56
                    },
                    "serverTimestamp": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2026-02-17T11:15:10.8986462Z"
                    }
                }
            },
            "GetMyTournamentsResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/TournamentItem"
                        }
                    },
                    "meta": {
                        "$ref": "#/components/schemas/Meta"
                    }
                }
            },
            "TournamentItem": {
                "type": "object",
                "properties": {
                    "tournamentId": {
                        "type": "string",
                        "example": "91598fb6-12f0-4fe1-aaec-6b408ab92565"
                    },
                    "tournamentName": {
                        "type": "string",
                        "example": "Auto Test Tournament"
                    },
                    "gameId": {
                        "type": "string",
                        "example": "03401d21-5109-4991-a39c-551a05bfa176"
                    },
                    "gameName": {
                        "type": "string",
                        "example": "BGMI"
                    },
                    "description": {
                        "type": "string",
                        "example": "This is an auto-filled tournament used for rapid testing scenarios."
                    },
                    "enrollmentLimit": {
                        "type": "integer",
                        "example": 32
                    },
                    "maxTeamMembers": {
                        "type": "integer",
                        "example": 4
                    },
                    "minTeamMembers": {
                        "type": "integer",
                        "example": 2
                    },
                    "startTime": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2026-02-13T12:10:00Z"
                    },
                    "endTime": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2026-02-15T12:10:00Z"
                    },
                    "registrationDeadline": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2026-02-13T11:10:00Z"
                    },
                    "registrationOpen": {
                        "type": "boolean",
                        "example": true
                    },
                    "isOnline": {
                        "type": "boolean",
                        "example": true
                    },
                    "status": {
                        "type": "integer",
                        "example": 1
                    },
                    "matchType": {
                        "type": "integer",
                        "example": 2
                    },
                    "teamType": {
                        "type": "string",
                        "example": "squad"
                    },
                    "color": {
                        "type": "string",
                        "example": "#2563eb"
                    },
                    "prizePool": {
                        "type": "number",
                        "example": 5000
                    },
                    "entryFee": {
                        "type": "number",
                        "example": 50
                    },
                    "image": {
                        "type": "string",
                        "nullable": true,
                        "example": null
                    },
                    "coverImage": {
                        "type": "string",
                        "nullable": true,
                        "example": null
                    },
                    "isTrending": {
                        "type": "boolean",
                        "example": false
                    },
                    "isFeatured": {
                        "type": "boolean",
                        "example": true
                    },
                    "isPasswordProtected": {
                        "type": "boolean",
                        "example": false
                    },
                    "instantRegistrations": {
                        "type": "boolean",
                        "example": false
                    },
                    "entryFeeCurrencyId": {
                        "type": "string",
                        "example": "10282b10-2b44-4bbb-9c1d-155e0bb46e79"
                    },
                    "entryFeeCurrencyName": {
                        "type": "string",
                        "example": "d"
                    },
                    "entryFeeCurrencySymbol": {
                        "type": "string",
                        "example": "$"
                    },
                    "prizePoolCurrencyId": {
                        "type": "string",
                        "example": "10282b10-2b44-4bbb-9c1d-155e0bb46e79"
                    },
                    "prizePoolCurrencyName": {
                        "type": "string",
                        "example": "d"
                    },
                    "prizePoolCurrencySymbol": {
                        "type": "string",
                        "example": "$"
                    },
                    "hasJoined": {
                        "type": "boolean",
                        "nullable": true,
                        "example": null
                    },
                    "canJoin": {
                        "type": "boolean",
                        "nullable": true,
                        "example": null
                    },
                    "cannotJoinReason": {
                        "type": "string",
                        "nullable": true,
                        "example": null
                    },
                    "teamsJoinedCount": {
                        "type": "integer",
                        "example": 0
                    }
                }
            }
        }
    }
}